<!doctype html>
<head>
  <title>{{meta_title}}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="{{meta_description}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {{^if @blog.logo}}
    <link rel="shortcut icon" href="{{asset "images/apple-touch-icon.png"}}" />
    <link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}" />
  {{/if}}

  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/highlightjs/styles/default.css" />
  <!-- endbower -->

  <!-- build:css /assets/css/screen.css -->
  <link rel="stylesheet" href="/assets/css/screen.css" />
  <link rel="stylesheet" href="/assets/css/icons.css" /> <!-- Fonts thanks to fontello.com -->
  <!-- endbuild -->

  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <div class="container">
    {{> "top-nav"}}

    {{{body}}}
  </div>

  {{> "footer"}}

  <!-- bower:js -->
  <script src="/bower_components/highlightjs/highlight.pack.js"></script>
  <!-- endbower -->

  <!-- build:js /assets/js/main.js -->
  <script src="/assets/js/main.js"></script>
  <!-- endbuild -->

  {{ghost_foot}}
</body>
</html>

